body {
  margin: 0;
  background-color: white;
}

#navbar {
  display: grid;
  min-height: 60px;
  grid-auto-flow: column;
  background-color: #ffffff;
  grid-gap: 1.5em;
  padding: 0 40px;
  /* -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1); */
}

#logo {
  display: grid;
  justify-content: start;
  align-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #FFB100;
  margin-top: 10px;
  text-transform: uppercase;
  
}

.logo {
  margin-top: -5px;
  width: 153px;
  height: 63px;
}

#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: "Poppins", sans-serif;
}

#links a {
  margin-top: 20px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #FFB100;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

#links a:hover {
  color: #FFB100;
}

#links img{
  margin-top: 10px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

#links .dropdown a {
  color: #000;
}


/* =======================
******* Mobile Menu ******
========================*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #FFB100;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

a {
  font-family: "Poppins", sans-serif;
}

/* Mobile to Tablet  */
@media (min-width: 320px) and (max-width: 767px) {
  #links,
  .mobile-menu {
    display: none;
  }
  #logo {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 70px;
  }
}

/* Tablet to Desktop */
@media (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}
/****************************************home-sub-header****************************************************/

.top-bars{
  width: 100%;
  background: #E5E5E5;

 
}
.links{
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.links a{
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: none;
}
.links a:hover{
 color: coral;
 
}




/***************************************CATEGORIES****************************************************/
.categories{
background-color:#CFD7C0 ;
height: 720px;
}
.categories .head{
  padding: 70px;
}
.categories .head p{
 font-size: 24px;
 font-weight: 700;
 
 color: #000;
}

.items
{
  background-color: #fff;
justify-content: space-around;
  
  display: flex;
padding: 30px;
}
.items p{
  text-align: center;
  padding: 20px;
}

/****************************************avatar dropdown css**************************************************/
.dropbtn {
  color: white;
  padding: 0px;
  font-size: 10px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  right: 0;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* **************************************Section gap************************************************* */
.gap{
  width: 100%;
  height: 5px;
  background-color: rgb(216, 216, 216);
}

/* *****************************************section quiq understanding**************************************** */

.section-quiqUnderstanding{
  margin-top: 100px;
  height: 400px;
  width: 100%;
}
.heading{
  margin-top: 80px;
  margin-bottom: 58px;
  font-family: 'Poppins';
}
.container{
  
  /* intialize the container as a flex box */
  width: 100%;
  display: flex;
  flex-direction: row;       
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
   
}
.item{
  width: 250px;
  height: 100px;
  margin-bottom: 15px;
}

#item-1{
  background-color: #295677;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
#item-2{
  background-color: #E25E31;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
#item-3{
  background-color: #FFD953;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.item span{
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  left: 130px;
` top: 303px;
}

.slogn h2{
  width: 100%;
  height: 54px;
  margin-top: 58px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-family: 'Poppins';
  color: rgba(33, 31, 31, 0.82);
}
